<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    {% include 'CtrlRadBundle::_topbar.html.twig' %}

    {% include 'CtrlRadBundle::_sidebar.html.twig' %}

</nav>