{% extends ctrl_rad_templates.base %}

{% block body %}
    <div id="wrapper">

        {% include ctrl_rad_templates.app_frame %}

    <div id="page-wrapper">
        {% for type, flashMessages in app.session.flashBag %}
            <div class="alert alert-{% if type == 'error' %}danger{% elseif type == 'success' %}success{% else %}info{% endif %} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ flashMessages[0] }}
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>

</div>
{% endblock %}