<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="CtrlRadBundle test suite">
            <directory suffix="Test.php">./Test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <file>./Routing/Loader/RestRouteLoader20.php</file>
                <directory>./Resources</directory>
                <directory>./Test</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>