<div class="row">
    <div class="col-md-6">
        {{ form_row(form.username) }}
        {{ form_row(form.enabled) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.email) }}
        {{ form_row(form.locked) }}
    </div>
</div>