<div class="panel panel-default">
    <div class="panel-body">
        <button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-save"></i> {{ "form.button.save"|trans({}, 'CtrlRadBundle') }}</button>
        <a href="{{ path(options.route_index) }}" class="btn btn-default"><i class="fa fa-fw fa-ban"></i> {{ "form.button.back"|trans({}, 'CtrlRadBundle') }}</a>
    </div>
</div>