{% if table.showPagination and table.data.pageCount > 1 %}
<tfoot>
    <tr>
        <td colspan="{{ table.columnHeaders|length }}" class="text-center">
            {{ pagination(table.data) }}
        </td>
    </tr>
</tfoot>
{% endif %}
