<table class="{% for class in table.classes %}{{ class }} {% endfor %}">
    <thead>
    <tr>
        {% for label in table.columnHeaders %}
            <th>{{ label|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table.rows %}
        {% include table.rowTemplate with { row: row, table: table } only %}
    {% else %}
        {% include table.rowEmptyTemplate with { table: table } only %}
    {% endfor %}
    </tbody>
    {% include table.footerTemplate with { table: table } only %}
</table>
