<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        {% for label in table.columnHeaders %}
            <th>{{ label|trans }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in table.rows %}
    <tr>
        {% for value in row.values %}
        <td>
            {% include "CtrlRadBundle:partial:_value_render.html.twig" with { value: value } only %}
        </td>
        {% endfor %}
        {% if row.actions|length %}
        <td>{{ buttonGroup(row.actions) }}</td>
        {% endif %}
    </tr>
    {% else %}
        <tr>
            <td colspan="{{ table.columnHeaders|length }}">No entries found</td>
        </tr>
    {% endfor %}
    </tbody>
    {% if table.showPagination and table.data.pageCount > 1 %}
    <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                {{ pagination(table.data, app.request) }}
            </td>
        </tr>
    </tfoot>
    {% endif %}
</table>
